form(method="link" action="verification.html").authorization-page__form
    label(for="login").authorization-page__title Авторизация
    input(type="text", id='login', placeholder="login", name="login").authorization-page__input
    input(type="password", id='password', placeholder="password", name="password").authorization-page__input.authorization-page__input_last
    button(type="submit").authorization-page__button Войти