.nav-panel.nav-panel-pale
    img(
        src="../img/nav-panel-icon/man-pale.svg", 
        alt="Иконка в виде фигуры человека"
    ).nav-panel__img
    img(
        src="../img/nav-panel-icon/gear-pale.svg", 
        alt="Иконка в виде зубчатого колеса"
    ).nav-panel__img
    