section.orders
    .page
        .buton-section-block
            h1.page__title.page-orders__title Оформление заказа:
            .hr
        .content-block.orders-page__content-block
            ul.orders-form__list
                li.orders-form__item 
                    .orders-form__lable Заказ №:
                    .orders-form__input 123
                li.orders-form__item 
                    .orders-form__lable Дата приема №:
                    .orders-form__input  
                li.orders-form__item 
                    .orders-form__lable Марка бетона:
                    .orders-form__input
                li.orders-form__item 
                    .orders-form__lable Наполнитель:
                    .orders-form__input 
                li.orders-form__item 
                    .orders-form__lable Количество, м<sup>3</sup>:
                    .orders-form__input 
                li.orders-form__item 
                    .orders-form__lable Дата поставки:
                    .orders-form__input 
                li.orders-form__item 
                    .orders-form__lable Время поставки:
                    .orders-form__input
                li.orders-form__item 
                    .orders-form__lable Адрес доставки:
                    .orders-form__input  
                li.orders-form__item 
                    .orders-form__lable Цена реализации, м<sup>3</sup>:
                    .orders-form__input
                li.orders-form__item 
                    .orders-form__lable Стоимость доставки:
                    .orders-form__input 
                li.orders-form__item 
                    .orders-form__lable Заказчик:
                    .orders-form__input 
                li.orders-form__item 
                    .orders-form__lable Телефон заказчика:
                    .orders-form__input  
                li.orders-form__item 
                    .orders-form__lable Водитель:
                    .orders-form__input 
                li.orders-form__item 
                    .orders-form__lable № автомобиля:
                    .orders-form__input 
                li.orders-form__item 
                    button.orders-form__button Оформить заказ
                