.page
    .button-section-block
        h1.page__title Производство:
        .hr
    .matching-block     
        //-- Фильтр для таблицы с данными о заявках на производство
        .filter-period-block 
            .filter-period-block__name Дата поставки:
            label(for="").filter-period-block__lable-date от
            input(type="date").filter-period-block__input-date
            label(for="").filter-period-block__lable-date  до
            input(type="date").filter-period-block__input-date 
            img(src="../img/icon/filter_icon.svg", alt="Облако со стрелками обмена данными")
        .main-page-content
            input(type="checkbox" id='box').custom-checkbox
            label(for="box").lable-checkbox Скрыть завершенные:
            ul.table__list
                li.table__item
                    .field-th.th__print-icon Print
                    .field-th.th__number № п\п
                    .field-th.th__date Дата поставки
                    .field-th.th__brand Марка бетона
                    .field-th.th__number_s № C
                    .field-th.th__sum Заказано, м<sup>3</sup>
                    .field-th.th__ready Отгружено, м<sup>3</sup>
                    .field-th.th__balance Остаток, м<sup>3</sup>
                    .field-th.th__address Адрес доставки
                    .field-th.th__execute-button Операции
                li.table__item
                    .field-td.td__print-icon
                        img(src="../img/icon/printer_icon.svg", alt="Принтер")
                    .field-td.td__number 100
                    .field-td.td__date 25.02.2022 11-00
                    .field-td.td__brand В 7,5 (М100) на щебне (доломитовом)
                    .field-td.td__number_s C: 43
                    .field-td.td__sum 30
                    .field-td.td__ready 20
                    .field-td.td__balance 10
                    .field-td.td__address 
                        button.button-table Открыть
                    .field-td.td__execute-button 
                        button.button-table Изменить
